/* Moment 2, EcmaScript. Jenny Lind, jeli2308. */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

h1 {
    font-size: 50px;
    font-weight: lighter;
    padding-left: 1rem;
}

.form {
    padding-left: 1rem;
}

.form label {
    font-size: 20px;
    font-weight: bold;
}

.form input {
    width: 45%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 10px;
}

.table {
    margin-top: 2rem;
    padding-left: 1rem;
    width: 45%;
}

.table thead {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.table thead tr td {
    padding: 2rem 3rem 1rem 0;
    border-bottom: 1px solid lightgray;
}

.table tbody tr td {
    border-bottom: 1px solid lightgray;
    padding: 1rem 1rem 1rem 0;
    justify-content: center;
}

.footer {
    width: 45%;
    margin-top: 5rem;
    text-align: center;
}